        <div class="main-header2">
            <div class="header-container">
                <div class="container1">
                     <div class="main12"><a href="http://127.0.0.1:5000/Base">Accueil</a></div>
                    <div class="main1"><a href="http://127.0.0.1:5000/Liste_magasin">Magasin</a></div>
                    <div class="main1"><a href="http://127.0.0.1:5000/Liste_produit">Produit</a></div>
                     <div class="main1"><a href="http://127.0.0.1:5000/Liste_vente">Vente</a></div>
                    <div class="main1"><a href="http://127.0.0.1:5000/Liste_stock">Stock</a></div>
                    <div class="main1"><a href="http://127.0.0.1:5000">Déconnexion</a></div>
                </div>
                <div class="container2"></div>
            </div>
            <!-- <div class="header-container2"></div> -->
        </div>