<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajout_magasin</title>
    <link rel="stylesheet" href="static/Style.css">
</head>
<body>
    <section class="header">
        {%include './partials/Header.html'%}
        <div class="main-header2">
            {%include './partials/Navbarmagasin.html'%}
            <div class="header-container2A">
                <div class="yA">
                   <h2 class="h2b"> <strong>Ajouter un nouveau magasin</strong></h2>
                </div>
                <form action=" {{url_for('Ajoutmagasin')}} " method="POST">
                    <div class="form-headerA">
                        <div class="nameA">
                            <div class="dA"><label for="Nom">Nom :</label></div>
                            <input class="Value" type="text" name="NomMagasin" required>
                        </div>
                        <div class="nameA">
                            <div class="dA"><label for="Adresse">Adresse :</label></div>
                            <input class="Value" type="text" name="AdresseMagasin" required>
                        </div>
                        <div class="nameA">
                            <div class="dA"><label for="Telephone">Telephone :</label></div>
                            <input class="Value" type="text" name="Telephone" required>
                        </div>
                        <div class="nameA">
                            <div class="dA"><label for="Mail">Mail :</label></div>
                            <input class="Value" type="text" name="mail" required>
                        </div>

                    </div>
                    <div class="buttonA">
                       <button class="button1A"><a href="{{url_for('Listmagasin')}}">Retour</a></button>
                        <button class="button2A" type="submit">Valider</button>
                    </div>
               </form>

            </div>
        </div>
    </section>

</body>
</html>