<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste_produit</title>
    <link rel="stylesheet" href="static/Style.css">
</head>
<body>
    <section class="header">
        {%include './partials/Header.html'%}
        <div class="main-header2">
             {%include './partials/Navbarproduit.html'%}
            <div class="header-container2">
                <div class="div-container">
                    <button class="button"><a href="http://127.0.0.1:5000/Ajout_produit">Ajouter</a></button>
                </div>

                <div class="div-container2">
                    <strong><p>Liste des produits</p></strong>
                </div>
                <div class="main-container">
                    <div class="main-liste">
                        <table>
                            <tr class="tete">
                                <th>id</th>
                                <th>Nom</th>
                                <th>Categorie</th>
                                <th>Prix</th>
                                <th>Action</th>
                            </tr >
                            {% for row in liste %}
                            <tr>
                                <td>{{row.IdProduit}}</td>
                                <td>{{row.NomProduit}}</td>
                                <td>{{row.CatProduit}} </td>
                                <td>{{row.PrixUnitaire}}</td>
                                <td>
                                      <div class="action_container">
                                        <button class="modif"><a href="/Modifif_produit/{{row.IdProduit}}">Modifier</a></button>
                                        <button class="suppr"><a href="/sup_msg/{{row.IdProduit}}">Supprimer</a></button>
                                      </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>