<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="static/Style.css">
</head>
<body>
    <section class="header">
        {%include './partials/Header.html'%}
        <div class="main-header2C">
            <div class="interieur">
                <p><strong>Connectez-vous</strong></p>
                <form action="">
                    <div class="input">
                        <input type="text" placeholder="Identifiant">
                    </div>
                    <div class="input">
                        <input type="text" placeholder="Identifiant">
                    </div>
                </form>
                <button class="button1" type="submit">Connexion</button>
                <a href="">Si pas de compte inscrivez-vous</a>
            </div>
        </div>
    </section>

</body>
</html>